---
import HtmlBody from "@layouts/HtmlBody.astro";
import Footer from "@components/Footer.astro";
import GalleryImage from "@components/GalleryImage.astro"
import "@fancyapps/ui/dist/fancybox/fancybox.css";

---



<HtmlBody headerclass="header shrink">


	<div id="swup" data-barba="container" data-barba-namespace="masonry" class="gridwrapper shrink transition-fade">
		<div class="columns test" style="visibility: hidden;">

		<GalleryImage
		imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/chuck-close.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/da-vinci-angel-close-up.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/dorotheatanning.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/escher-eye.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/eye.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/Horseez.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/chuck-close.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/da-vinci-angel-close-up.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/dorotheatanning.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/escher-eye.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/eye.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/Horseez.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/escher-eye.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/eye.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/Horseez.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/chuck-close.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/da-vinci-angel-close-up.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/dorotheatanning.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/escher-eye.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/eye.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>
		<GalleryImage
		imagePath="/src/images/Horseez.jpg"
		altText="testin"
		url="/art-design/school-gallery"
		buttontext="ART"
		theme="art"
		/>

			

		</div>
		<Footer/>
	</div>
<script>
</script>

</HtmlBody>