---
import HtmlBody from "@layouts/HtmlBody.astro";
import Footer from "@components/Footer.astro";
import GalleryImage from "@components/GalleryImage.astro"
import "@fancyapps/ui/dist/fancybox/fancybox.css";

---



<HtmlBody headerclass="header shrink">


	<div id="swup" data-barba="container" data-barba-namespace="blank"  class="gridwrapper shrink">
		<div class="columns test hidden">

			<GalleryImage
			imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
			altText="Escher Hand With Reflecting Sphere"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/chuck-close.jpg"
			altText="Chuck Close portrait"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/da-vinci-angel-close-up.jpg"
			altText="Da Vinci Angel"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/dorotheatanning.jpg"
			altText="Dorothea Tanning study"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/escher-eye.jpg"
			altText="Escher"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/eye.jpg"
			altText="Eye still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Horseez.jpg"
			altText="Horses sketch"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/da-vinci-sketch.jpg"
			altText="Da Vinci study sketch"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/elephant-skin.jpg"
			altText="Elephant skin texture"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/escher-drawinghands.jpg"
			altText="Escher Drawing Hands"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Ipod.jpg"
			altText="Ipod still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/eyes.jpg"
			altText="Eye still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/eyes2.jpg"
			altText="Eye still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/hand.jpg"
			altText="Hand still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Lion.jpg"
			altText="Lion chalk sketch"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/magritte-sketch.jpg"
			altText="Magritte study"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/magritte-the-lovers.jpg"
			altText="Magritte study"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/me.jpg"
			altText="Self portrait"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/nose-&-mouth.jpg"
			altText="Portrait close up drawing"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Objectsz.jpg"
			altText="Still life utensils"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/portrait.jpg"
			altText="Portrait drawing"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/profile.jpg"
			altText="Portrait close up"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Random still life.jpg"
			altText="Still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/School_B.jpg"
			altText="Utensils still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/shadows.jpg"
			altText="Shadow sculpture"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Shoe.jpg"
			altText="Shoe still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Shoe2.jpg"
			altText="Shoe still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Temple.jpg"
			altText="Japanese temple drawing"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/utensils.jpg"
			altText="Utensils still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Vanitas skull.jpg"
			altText="Vanitas skull drawing"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/wood-texture.jpg"
			altText="Wood texture still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/cat.jpg"
			altText="Cat still life"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/The businessmen.jpg"
			altText="The businessmen digital painting"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Da Vinci angel.jpg"
			altText="Da Vinci Angel digtial painting"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Dionysus.jpg"
			altText="Dionysus digital painting"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
			<GalleryImage
			imagePath="/src/images/Test skech1.jpg"
			altText="Digital life drawing"
			url="/art-design/school-gallery"
			buttontext="ART"
			theme="art"
			/>
		</div>
		
		</div>
		<Footer fclass="footer absolute"/>
	</div>
<script>
</script>

</HtmlBody>