---
import HtmlBody from "../../layouts/HtmlBody.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Preloader from "../../components/Preloader.astro";
import MainImgButton from "../../components/MainImgButton.astro";
---



<HtmlBody>
<Preloader/>

<main class="allcontent">
	<Header/>

	<div id="swup" class="gridwrapper">
		<div class="container">
			<MainImgButton
				publicsrc="/hand.jpg"
				imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
				altText="testin"
				url="/art"
				buttontext="ART"
				theme="art"/>

            <MainImgButton
				publicsrc="/hand.jpg"
				imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
				altText="testin"
				url="/art"
				buttontext="ART"
				theme="art" />

            <MainImgButton
				publicsrc="/hand.jpg"
                imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
                altText="testin"
                url="/art"
                buttontext="ART"
                theme="art"/>

            <MainImgButton
				publicsrc="/hand.jpg"
				imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
				altText="testin"
				url="/art"
				buttontext="ART"
				theme="art"/>

            <MainImgButton
				publicsrc="/hand.jpg"
				imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
				altText="testin"
				url="/art"
				buttontext="ART"
				theme="art" />
                
            <MainImgButton
				publicsrc="/hand.jpg"
                imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
                altText="testin"
                url="/art"
                buttontext="ART"
                theme="art"/>

            <MainImgButton
				publicsrc="/hand.jpg"
				imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
				altText="testin"
				url="/art"
				buttontext="ART"
				theme="art"/>

            <MainImgButton
				publicsrc="/hand.jpg"
				imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
				altText="testin"
				url="/art"
				buttontext="ART"
				theme="art" />

            <MainImgButton
				publicsrc="/hand.jpg"
                imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
                altText="testin"
                url="/art"
                buttontext="ART"
                theme="art"/>
			<MainImgButton
				publicsrc="/hand.jpg"
                imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
                altText="testin"
                url="/art"
                buttontext="ART"
                theme="art"
			/>
			<MainImgButton
				publicsrc="/hand.jpg"
			imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
			altText="testin"
			url="/art"
			buttontext="ART"
			theme="art"
			/>
			<MainImgButton
				publicsrc="/hand.jpg"
			imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
			altText="testin"
			url="/art"
			buttontext="ART"
			theme="art"
			/>
			
            <MainImgButton
				publicsrc="/hand.jpg"
				imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
				altText="testin"
				url="/art"
				buttontext="ART"
				theme="art"/>

            <MainImgButton
				publicsrc="/hand.jpg"
				imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
				altText="testin"
				url="/art"
				buttontext="ART"
				theme="art" />

            <MainImgButton
				publicsrc="/hand.jpg"
                imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
                altText="testin"
                url="/art"
                buttontext="ART"
                theme="art"/>
			<MainImgButton
				publicsrc="/hand.jpg"
                imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
                altText="testin"
                url="/art"
                buttontext="ART"
                theme="art"
			/>
			<MainImgButton
				publicsrc="/hand.jpg"
			imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
			altText="testin"
			url="/art"
			buttontext="ART"
			theme="art"
			/>
			<MainImgButton
				publicsrc="/hand.jpg"
			imagePath="/src/images/Hand-with-Reflecting-Sphere.jpg"
			altText="testin"
			url="/art"
			buttontext="ART"
			theme="art"
			/>
			
		</div>
		<Footer/>
	</div>
    <script>
        import "../../scripts/Intersection.js"
    </script>
</main>

</HtmlBody>