---
import HtmlBody from "@layouts/HtmlBody.astro";
import Footer from "@components/Footer.astro";
import MainImgButton from "@components/MainImgButton.astro";
---



<HtmlBody headerclass="header">

	<div id="swup" data-barba="container" data-barba-namespace="alternate"  class="gridwrapper">
		<div class="container">
			<MainImgButton
				imagePath="/src/images/Life drawing_B.jpg"
				altText="life drawing"
				url="/art-design/life-drawing"
				buttontext="life drawing"
				theme="art"
			/>
			<MainImgButton
				imagePath="/src/images/Objectsz.jpg"
				altText="school"
				url="/art-design/school"
				buttontext="school"
				theme="art"
			/>
			<MainImgButton
				imagePath="/src/images/Graphics_B.jpg"
				altText="testin"
				url="/art-design/graphics-illustration"
				buttontext="graphics / illustration"
				theme="art"
			/>
		</div>
		<Footer fclass="footer"/>
	</div>
</HtmlBody>