---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
import { Image } from 'astro:assets';
import hand from "../images/hand.jpg";

const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/*.{jpeg,jpg,png,gif}');
const {imagePath} = Astro.props;


console.log(images);

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Learning Blog";
---


<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>

  <a class="openFB" href="/blank" data-fancybox="gallery" data-src='/src/images/Hand-with-Reflecting-Sphere.jpg' data-caption="Caption #2">
    <Image class="imagetest" src={images['/src/images/Hand-with-Reflecting-Sphere.jpg']()}  alt=""/>
  </a>

  
  <a class="openFB" href="/blank" data-fancybox="gallery" data-src='/src/images/Lion.jpg' data-caption="Caption #2">
    <Image class="imagetest" src={images['/src/images/Lion.jpg']()}  alt=""/>
  </a>


  <a class="openFB" href="/blank" data-fancybox="gallery" data-src='/src/images/magritte-sketch.jpg' data-caption="Caption #2">
    <Image class="imagetest" src={images['/src/images/magritte-sketch.jpg']()}  alt=""/>
  </a>

  
  <a class="openFB" href="/blank" data-fancybox="gallery" data-src='/src/images/Hand-with-Reflecting-Sphere.jpg' data-caption="Caption #2">
    <Image class="imagetest" src={images['/src/images/Hand-with-Reflecting-Sphere.jpg']()}  alt=""/>
  </a>

  
  <a class="openFB" href="/blank" data-fancybox="gallery" data-src='/src/images/Lion.jpg' data-caption="Caption #2">
    <Image class="imagetest" src={images['/src/images/Lion.jpg']()}  alt=""/>
  </a>


  <a class="openFB" href="/blank" data-fancybox="gallery" data-src='/src/images/magritte-sketch.jpg' data-caption="Caption #2">
    <Image class="imagetest" src={images['/src/images/magritte-sketch.jpg']()}  alt=""/>
  </a>






</BaseLayout>