---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import MainImgButton from "@components/MainImgButton.astro";
import HtmlBody from "@layouts/HtmlBody.astro";
---



<HtmlBody headerclass="header">


		<div data-barba="container" data-barba-namespace="home" class="gridwrapper">
			<div class="container">
				<MainImgButton
					imagePath="/src/images/Menu_Art.jpg"
					altText="testin"
					url="/art-design"
					buttontext="ART / DESIGN"
					theme="art"
				/>
				<MainImgButton
					imagePath="/src/images/Menu_Architecture.jpg"
					altText="testin"
					url="/architecture"
					buttontext="ARCHITECTURE"
					theme="architecture"
				/>
				<MainImgButton
					imagePath="/src/images/travel.jpg"
					altText="testin"
					url="/travel"
					buttontext="travel"
					theme="travel"
				/>
			</div>
			<Footer/>
		</div>



</HtmlBody>
