---
const {fclass} = Astro.props;
---

<footer class={fclass}>

    <i class="fab fa-linkedin"></i>


    <i class="fa-solid fa-square-envelope"></i>

      <label for="darkModeToggleFooter" class="toggleCSSonly" tabindex="0">
        <input type="checkbox" id="darkModeToggleFooter" aria-label="darkModeToggle">
        <span class="slider"></span>
      </label>




</footer>	