---
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';
const {headerstyle} = Astro.props;

---

<header class={headerstyle}>
    <nav>
        <Hamburger />
        <Navigation/>
    </nav>
</header>